---
import BaseLayout from "../BaseLayout.astro";
import '../../styles/markdown.css';
const { frontmatter } = Astro.props;

---
<script src="./service.ts"></script>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col items-center justify-center">
    <div class="text-2xl mb-2">{frontmatter.title}</div>
    <div class="text-sm max-w-[80%] md:max-w-[30%] text-center">{frontmatter.description}</div>
  </div>
  <div class="flex items-center justify-center">
    <canvas id={frontmatter.id} data-id={frontmatter.id} data-src={frontmatter.rive} class="rive-canvas max-w-[100%] md:max-w-[50%] md:min-w-[40%]"></canvas>
  </div>
  <slot />
</BaseLayout>