---
import BaseLayout from "../BaseLayout.astro";
import '../../styles/markdown.css';
const { frontmatter } = Astro.props;

---
<script src="./expandable.ts"></script>
<script src="https://unpkg.com/@rive-app/canvas@2.7.0" is:inline></script>
<script>
  const container = document.getElementsByClassName("rive-canvas")[0]
  // @ts-ignore
  const layout = new rive.Layout({
  // @ts-ignore
    fit: rive.Fit.Contain,
  // @ts-ignore
    alignment: rive.Alignment.Center,
  });

  // @ts-ignore
  const riveCanvas = document.getElementById(container.dataset.id)

  // @ts-ignore
  const riveInstance = new rive.Rive({
      // @ts-ignore

    src: container.dataset.src,
    canvas: riveCanvas,
    layout: layout, // This is optional. Provides additional layout control.
    autoplay: true,
    onLoad: () => {
      // Prevent a blurry canvas by using the device pixel ratio
      riveInstance.resizeDrawingSurfaceToCanvas();
    }
  });

  // Resize the drawing surface if the window resizes
  window.addEventListener(
    "resize",
    () => {
      riveInstance.resizeDrawingSurfaceToCanvas();
    },
    false
  );
</script>

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col items-center justify-center">
    <div class="text-2xl mb-2">{frontmatter.title}</div>
    <div class="text-sm max-w-[80%] md:max-w-[30%] text-center">{frontmatter.description}</div>
  </div>
  <div class="flex items-center justify-center">
    <canvas id={frontmatter.id} data-id={frontmatter.id} data-src={frontmatter.rive} class="rive-canvas max-w-[100%] md:max-w-[50%] md:min-w-[40%]"></canvas>
  </div>
  <slot />
</BaseLayout>